* {
    box-sizing: border-box;
    padding: 0;
}

@import 'blocks/variables';
@import 'blocks/button';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/table';
@import 'blocks/main';
@import 'blocks/faq';
@import 'blocks/footer';
@import 'blocks/pageup';

html {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: $promo_color;

    @media(max-width: 575px) {
        font-size: 16px;
        line-height: 21px;
    }
}

.container {
    max-width: 1302px;
    margin: 0 auto;
    padding: 0;

    @media(max-width: 991px) {
        max-width: 770px;
    }

    @media(max-width: 575px) {
        max-width: 336px;
    }
}

.top-sign {
    position: absolute;
    width: 63px;
    height: 63px;
    border-radius: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: -32px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 34px;
    }

    @media(max-width: 575px) {
        width: 41px;
        height: 41px;
        top: -22px;

        svg {
            width: 20px;
        }
    }


}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;

    img {
        max-width: 100%;

        @media(max-width: 575px) {
            height: 30px;
        }
    }

    @media(max-width: 575px) {
        //height: 30px;
    }

    &_title {
        font-size: 25px;
        font-weight: 900;
        line-height: 23.75px;
        text-align: left;
        text-transform: uppercase;
        padding-left: 11px;
        color: #000;

        @media(max-width: 575px) {
            font-size: 20px;
            line-height: 19px;
            text-align: left;
            padding: 0 0 0 6px;
        }
    }
}